root = true

[*]
charset = utf-8
end_of_line = lf

[{*.js, *.ftl, *.css}]
indent_style = tab
indent_size = 4

[*.xml]
indent_style = tab
indent_size = 4

[*.java]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.yml]
indent_style = space
indent_size = 2
